In [34]:
import requests
import pandas as pd
import csv
from bs4 import BeautifulSoup as bs 
import json
import datetime

In [2]:
url='https://www.worldathletics.org/records/by-category/world-records'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
soup = bs(page.content)

In [3]:
tables_out= soup.find("div", {"id": "womenoutdoor"})
tables_in= soup.find("div", {"id": "womenindoor"})

tableheader_out= tables_out.find_all('th')
tableheader_in= tables_in.find_all('tr')

table= soup.find_all('th')

print(table)

[<th>
                    Discipline
                </th>, <th>
                    Progression
                </th>, <th>
                    Perf
                </th>, <th>
                        Wind
                    </th>, <th>
                    Competitor
                </th>, <th>
                    DOB
                </th>, <th>
                    Country
                </th>, <th>
                    Venue
                </th>, <th>
                    Date
                </th>, <th>
                    Discipline
                </th>, <th>
                    Progression
                </th>, <th>
                    Perf
                </th>, <th>
                        Wind
                    </th>, <th>
                    Competitor
                </th>, <th>
                    DOB
                </th>, <th>
                    Country
                </th>, <th>
                    Venue
                </th>, <th>
                    Date
                </th>, <th>
                    Discipline
                </th>, <th>
                    Progression
                </th>, <th>
                    Perf
                </th>, <th>
                        Wind
                    </th>, <th>
                    Competitor
                </th>, <th>
                    DOB
                </th>, <th>
                    Country
                </th>, <th>
                    Venue
                </th>, <th>
                    Date
                </th>, <th>
                    Discipline
                </th>, <th>
                    Progression
                </th>, <th>
                    Perf
                </th>, <th>
                        Wind
                    </th>, <th>
                    Competitor
                </th>, <th>
                    DOB
                </th>, <th>
                    Country
                </th>, <th>
                    Venue
                </th>, <th>
                    Date
                </th>, <th>
                    Discipline
                </th>, <th>
                    Progression
                </th>, <th>
                    Perf
                </th>, <th>
                        Wind
                    </th>, <th>
                    Competitor
                </th>, <th>
                    DOB
                </th>, <th>
                    Country
                </th>, <th>
                    Venue
                </th>, <th>
                    Date
                </th>]

In [22]:
data=[]
for tr in tables_out.find_all('tr'):    
    for th in tr.find_all('th'):
        new_data = th.text
        new_data = new_data.split()
        data.append(new_data[0])
print(data)

['Discipline', 'Progression', 'Perf', 'Wind', 'Competitor', 'DOB', 'Country', 'Venue', 'Date']

In [21]:
disciplines_out = []
for td in tables_out.find_all('td', {'data-th':"DISCIPLINE"}):
    new_data = td.text
    new_data = new_data.split()
    separator = ' '
    new_data = separator.join(new_data)
    disciplines_out.append(new_data)

disciplines_out

['100 Metres',
 '200 Metres',
 '400 Metres',
 '800 Metres',
 '1000 Metres',
 '1500 Metres',
 'One Mile',
 '2000 Metres',
 '3000 Metres',
 '5000 Metres',
 '5 Kilometres',
 '5 Kilometres',
 '10,000 Metres',
 '10 Kilometres',
 '10 Kilometres',
 '20,000 Metres',
 'One Hour',
 'Half Marathon',
 'Half Marathon',
 'Half Marathon',
 '25,000 Metres',
 '30,000 Metres',
 'Marathon',
 'Marathon',
 '100 Kilometres',
 '3000 Metres Steeplechase',
 '100 Metres Hurdles',
 '400 Metres Hurdles',
 'High Jump',
 'Pole Vault',
 'Long Jump',
 'Triple Jump',
 'Shot Put',
 'Discus Throw',
 'Hammer Throw',
 'Javelin Throw',
 'Heptathlon',
 'Decathlon',
 '10,000 Metres Race Walk',
 '20,000 Metres Race Walk',
 '20 Kilometres Race Walk',
 '50 Kilometres Race Walk',
 '4x100 Metres Relay',
 '4x200 Metres Relay',
 '4x400 Metres Relay',
 '4x800 Metres Relay',
 '4x1500 Metres Relay',
 'Road Relay',
 'Distance Medley Relay']

In [18]:
pref_out = []
for td in tables_out.find_all('td', {'data-th':"PERF"}):
    new_data = td.text
    new_data = new_data.split()
    separator = ''
    new_data = separator.join(new_data)
    if(new_data != ''):
        pref_out.append(new_data)
    
pref_out

['10.49',
 '21.34',
 '47.60',
 '1:53.28',
 '2:28.98',
 '3:50.07',
 '4:12.33',
 '5:23.75(i)',
 '8:06.11',
 '14:06.62',
 '14:48Mx',
 '14:44Wo',
 '29:17.45',
 '30:29Wo',
 '29:43Mx',
 '1:05:26.6h#',
 '18930',
 '1:05:34Wo',
 '1:05:16Wo*',
 '1:04:31Mx',
 '1:27:05.9h#',
 '1:45:50.0h#',
 '2:17:01Wo',
 '2:14:04Mx',
 '6:33:11Mx',
 '8:44.32',
 '12.20',
 '52.16',
 '2.09',
 '5.06',
 '7.52',
 '15.50',
 '22.63',
 '76.80',
 '82.98',
 '72.28',
 '7291',
 '8358',
 '41:56.23',
 '1:26:52.3h',
 '1:24:38',
 '3:59:15',
 '40.82',
 '1:27.46',
 '3:15.17',
 '7:50.17',
 '16:27.02',
 '2:11:41',
 '10:36.50']

In [17]:

for td in tables_out.find_all('td', {'data-th':"WIND"}):
    data.append(td.text)

In [16]:
competitor_out = []
for td in tables_out.find_all('td', {'data-th':"COMPETITOR"}):
    new_data = td.text
    new_data = new_data.split()
    separator = ' '
    new_data = separator.join(new_data)
    competitor_out.append(new_data)
competitor_out

['Florence GRIFFITH-JOYNER',
 'Florence GRIFFITH-JOYNER',
 'Marita KOCH',
 'Jarmila KRATOCHVÍLOVÁ',
 'Svetlana MASTERKOVA',
 'Genzebe DIBABA',
 'Sifan HASSAN',
 'Genzebe DIBABA',
 'Junxia WANG',
 'Letesenbet GIDEY',
 'Caroline Chepkoech KIPKIRUI',
 'Sifan HASSAN',
 'Almaz AYANA',
 'Asmae LEGHZAOUI',
 'Joyciline JEPKOSGEI',
 'Tegla LOROUPE',
 'Sifan HASSAN',
 'Peres JEPCHIRCHIR',
 'Peres JEPCHIRCHIR',
 'Ababel YESHANEH',
 'Tegla LOROUPE',
 'Tegla LOROUPE',
 'Mary Jepkosgei KEITANY',
 'Brigid KOSGEI',
 'Tomoe ABE',
 'Beatrice CHEPKOECH',
 'Kendra HARRISON',
 'Dalilah MUHAMMAD',
 'Stefka KOSTADINOVA',
 'Yelena ISINBAYEVA',
 'Galina CHISTYAKOVA',
 'Inessa KRAVETS',
 'Natalia LISOVSKAYA',
 'Gabriele REINSCH',
 'Anita WŁODARCZYK',
 'Barbora ŠPOTÁKOVÁ',
 'Jackie JOYNER-KERSEE',
 'Austra SKUJYTÉ',
 'Nadezhda RYASHKINA',
 'Olimpiada IVANOVA',
 'Hong LIU',
 'Hong LIU',
 'United States',
 'United States Blue',
 'Soviet Union',
 'Soviet Union',
 'Nike/Bowerman Track Club',
 'PR of China',
 'United States']

In [24]:
DOB_out = []
for td in tables_out.find_all('td', {'data-th':"DOB"}):
    new_data = td.text
    new_data = new_data.split()
    separator = ' '
    new_data = separator.join(new_data)
    DOB_out.append(new_data)
DOB_out

['21 DEC 1959',
 '21 DEC 1959',
 '18 FEB 1957',
 '26 JAN 1951',
 '17 JAN 1968',
 '08 FEB 1991',
 '01 JAN 1993',
 '08 FEB 1991',
 '09 JAN 1973',
 '20 MAR 1998',
 '26 MAY 1994',
 '01 JAN 1993',
 '21 NOV 1991',
 '30 AUG 1976',
 '08 DEC 1993',
 '09 MAY 1973',
 '01 JAN 1993',
 '27 SEP 1993',
 '27 SEP 1993',
 '22 JUL 1991',
 '09 MAY 1973',
 '09 MAY 1973',
 '18 JAN 1982',
 '20 FEB 1994',
 '13 AUG 1971',
 '06 JUL 1991',
 '18 SEP 1992',
 '07 FEB 1990',
 '25 MAR 1965',
 '03 JUN 1982',
 '26 JUL 1962',
 '05 OCT 1966',
 '16 JUL 1962',
 '23 SEP 1963',
 '08 AUG 1985',
 '30 JUN 1981',
 '03 MAR 1962',
 '12 AUG 1979',
 '22 JAN 1967',
 '29 AUG 1970',
 '12 MAY 1987',
 '12 MAY 1987',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [15]:
country_out = []
for td in tables_out.find_all('td', {'data-th':"COUNTRY"}):
    new_data = td.text
    new_data = new_data.split()
    separator = ' '
    new_data = separator.join(new_data)
    country_out.append(new_data)
country_out

['USA',
 'USA',
 'GDR',
 'TCH',
 'RUS',
 'ETH',
 'NED',
 'ETH',
 'CHN',
 'ETH',
 'KEN',
 'NED',
 'ETH',
 'MAR',
 'KEN',
 'KEN',
 'NED',
 'KEN',
 'KEN',
 'ETH',
 'KEN',
 'KEN',
 'KEN',
 'KEN',
 'JPN',
 'KEN',
 'USA',
 'USA',
 'BUL',
 'RUS',
 'URS',
 'UKR',
 'URS',
 'GDR',
 'POL',
 'CZE',
 'USA',
 'LTU',
 'URS',
 'RUS',
 'CHN',
 'CHN',
 'USA',
 'USA',
 'URS',
 'URS',
 'USA',
 'CHN',
 'USA']

In [14]:
date_out = []
for td in tables_out.find_all('td', {'data-th':"DATE"}):
    new_data = td.text
    new_data = new_data.split()
    separator = ' '
    new_data = separator.join(new_data)
    date_out.append(new_data)
date_out

['16 JUL 1988',
 '29 SEP 1988',
 '06 OCT 1985',
 '26 JUL 1983',
 '23 AUG 1996',
 '17 JUL 2015',
 '12 JUL 2019',
 '07 FEB 2017',
 '13 SEP 1993',
 '07 OCT 2020',
 '08 SEP 2018',
 '17 FEB 2019',
 '12 AUG 2016',
 '08 JUN 2002',
 '09 SEP 2017',
 '03 SEP 2000',
 '04 SEP 2020',
 '05 SEP 2020',
 '17 OCT 2020',
 '21 FEB 2020',
 '21 SEP 2002',
 '06 JUN 2003',
 '23 APR 2017',
 '13 OCT 2019',
 '25 JUN 2000',
 '20 JUL 2018',
 '22 JUL 2016',
 '04 OCT 2019',
 '30 AUG 1987',
 '28 AUG 2009',
 '11 JUN 1988',
 '10 AUG 1995',
 '07 JUN 1987',
 '09 JUL 1988',
 '28 AUG 2016',
 '13 SEP 2008',
 '24 SEP 1988',
 '15 APR 2005',
 '24 JUL 1990',
 '06 SEP 2001',
 '06 JUN 2015',
 '09 MAR 2019',
 '10 AUG 2012',
 '29 APR 2000',
 '01 OCT 1988',
 '05 AUG 1984',
 '31 JUL 2020',
 '28 FEB 1998',
 '02 MAY 2015']

In [91]:
data_df = pd.DataFrame({'Discipline': disciplines_out,
                        'Perf': pref_out,
                        'Competitor': competitor_out,
                        'DOB': DOB_out,
                        'Country': country_out,
                        'Date':date_out
                       })
for index, row in data_df.iterrows():
    row['Date']= row['Date'][7:11]

data_df = data_df.sort_values("Date")
data_df

,Discipline,Perf,Competitor,DOB,Country,Date
3,800 Metres,1:53.28,Jarmila KRATOCHVÍLOVÁ,26 JAN 1951,TCH,1983
45,4x800 Metres Relay,7:50.17,Soviet Union,,URS,1984
2,400 Metres,47.60,Marita KOCH,18 FEB 1957,GDR,1985
32,Shot Put,22.63,Natalia LISOVSKAYA,16 JUL 1962,URS,1987
28,High Jump,2.09,Stefka KOSTADINOVA,25 MAR 1965,BUL,1987
0,100 Metres,10.49,Florence GRIFFITH-JOYNER,21 DEC 1959,USA,1988
1,200 Metres,21.34,Florence GRIFFITH-JOYNER,21 DEC 1959,USA,1988
30,Long Jump,7.52,Galina CHISTYAKOVA,26 JUL 1962,URS,1988
44,4x400 Metres Relay,3:15.17,Soviet Union,,URS,1988
36,Heptathlon,7291,Jackie JOYNER-KERSEE,03 MAR 1962,USA,1988
33,Discus Throw,76.80,Gabriele REINSCH,23 SEP 1963,GDR,1988
38,"10,000 Metres Race Walk",41:56.23,Nadezhda RYASHKINA,22 JAN 1967,URS,1990
8,3000 Metres,8:06.11,Junxia WANG,09 JAN 1973,CHN,1993
31,Triple Jump,15.50,Inessa KRAVETS,05 OCT 1966,UKR,1995
4,1000 Metres,2:28.98,Svetlana MASTERKOVA,17 JAN 1968,RUS,1996
47,Road Relay,2:11:41,PR of China,,CHN,1998
43,4x200 Metres Relay,1:27.46,United States Blue,,USA,2000
24,100 Kilometres,6:33:11Mx,Tomoe ABE,13 AUG 1971,JPN,2000
15,"20,000 Metres",1:05:26.6h#,Tegla LOROUPE,09 MAY 1973,KEN,2000
39,"20,000 Metres Race Walk",1:26:52.3h,Olimpiada IVANOVA,29 AUG 1970,RUS,2001
20,"25,000 Metres",1:27:05.9h#,Tegla LOROUPE,09 MAY 1973,KEN,2002
13,10 Kilometres,30:29Wo,Asmae LEGHZAOUI,30 AUG 1976,MAR,2002
21,"30,000 Metres",1:45:50.0h#,Tegla LOROUPE,09 MAY 1973,KEN,2003
37,Decathlon,8358,Austra SKUJYTÉ,12 AUG 1979,LTU,2005
35,Javelin Throw,72.28,Barbora ŠPOTÁKOVÁ,30 JUN 1981,CZE,2008
29,Pole Vault,5.06,Yelena ISINBAYEVA,03 JUN 1982,RUS,2009
42,4x100 Metres Relay,40.82,United States,,USA,2012
40,20 Kilometres Race Walk,1:24:38,Hong LIU,12 MAY 1987,CHN,2015
5,1500 Metres,3:50.07,Genzebe DIBABA,08 FEB 1991,ETH,2015
48,Distance Medley Relay,10:36.50,United States,,USA,2015
26,100 Metres Hurdles,12.20,Kendra HARRISON,18 SEP 1992,USA,2016
12,"10,000 Metres",29:17.45,Almaz AYANA,21 NOV 1991,ETH,2016
34,Hammer Throw,82.98,Anita WŁODARCZYK,08 AUG 1985,POL,2016
14,10 Kilometres,29:43Mx,Joyciline JEPKOSGEI,08 DEC 1993,KEN,2017
7,2000 Metres,5:23.75(i),Genzebe DIBABA,08 FEB 1991,ETH,2017
22,Marathon,2:17:01Wo,Mary Jepkosgei KEITANY,18 JAN 1982,KEN,2017
10,5 Kilometres,14:48Mx,Caroline Chepkoech KIPKIRUI,26 MAY 1994,KEN,2018
25,3000 Metres Steeplechase,8:44.32,Beatrice CHEPKOECH,06 JUL 1991,KEN,2018
41,50 Kilometres Race Walk,3:59:15,Hong LIU,12 MAY 1987,CHN,2019
6,One Mile,4:12.33,Sifan HASSAN,01 JAN 1993,NED,2019
11,5 Kilometres,14:44Wo,Sifan HASSAN,01 JAN 1993,NED,2019
27,400 Metres Hurdles,52.16,Dalilah MUHAMMAD,07 FEB 1990,USA,2019
23,Marathon,2:14:04Mx,Brigid KOSGEI,20 FEB 1994,KEN,2019
17,Half Marathon,1:05:34Wo,Peres JEPCHIRCHIR,27 SEP 1993,KEN,2020
16,One Hour,18930,Sifan HASSAN,01 JAN 1993,NED,2020
19,Half Marathon,1:04:31Mx,Ababel YESHANEH,22 JUL 1991,ETH,2020
46,4x1500 Metres Relay,16:27.02,Nike/Bowerman Track Club,,USA,2020
9,5000 Metres,14:06.62,Letesenbet GIDEY,20 MAR 1998,ETH,2020
18,Half Marathon,1:05:16Wo*,Peres JEPCHIRCHIR,27 SEP 1993,KEN,2020

In [90]:
data_rows = data_df.to_dict('split')
data_rows

{'index': [3,
  45,
  2,
  32,
  28,
  0,
  1,
  30,
  44,
  36,
  33,
  38,
  8,
  31,
  4,
  47,
  43,
  24,
  15,
  39,
  20,
  13,
  21,
  37,
  35,
  29,
  42,
  40,
  5,
  48,
  26,
  12,
  34,
  14,
  7,
  22,
  10,
  25,
  41,
  6,
  11,
  27,
  23,
  17,
  16,
  19,
  46,
  9,
  18],
 'columns': ['Discipline', 'Perf', 'Competitor', 'DOB', 'Country', 'Date'],
 'data': [['800 Metres',
   '1:53.28',
   'Jarmila KRATOCHVÍLOVÁ',
   '26 JAN 1951',
   'TCH',
   '1983'],
  ['4x800 Metres Relay', '7:50.17', 'Soviet Union', '', 'URS', '1984'],
  ['400 Metres', '47.60', 'Marita KOCH', '18 FEB 1957', 'GDR', '1985'],
  ['Shot Put', '22.63', 'Natalia LISOVSKAYA', '16 JUL 1962', 'URS', '1987'],
  ['High Jump', '2.09', 'Stefka KOSTADINOVA', '25 MAR 1965', 'BUL', '1987'],
  ['100 Metres',
   '10.49',
   'Florence GRIFFITH-JOYNER',
   '21 DEC 1959',
   'USA',
   '1988'],
  ['200 Metres',
   '21.34',
   'Florence GRIFFITH-JOYNER',
   '21 DEC 1959',
   'USA',
   '1988'],
  ['Long Jump', '7.52', 'Galina CHISTYAKOVA', '26 JUL 1962', 'URS', '1988'],
  ['4x400 Metres Relay', '3:15.17', 'Soviet Union', '', 'URS', '1988'],
  ['Heptathlon', '7291', 'Jackie JOYNER-KERSEE', '03 MAR 1962', 'USA', '1988'],
  ['Discus Throw', '76.80', 'Gabriele REINSCH', '23 SEP 1963', 'GDR', '1988'],
  ['10,000 Metres Race Walk',
   '41:56.23',
   'Nadezhda RYASHKINA',
   '22 JAN 1967',
   'URS',
   '1990'],
  ['3000 Metres', '8:06.11', 'Junxia WANG', '09 JAN 1973', 'CHN', '1993'],
  ['Triple Jump', '15.50', 'Inessa KRAVETS', '05 OCT 1966', 'UKR', '1995'],
  ['1000 Metres',
   '2:28.98',
   'Svetlana MASTERKOVA',
   '17 JAN 1968',
   'RUS',
   '1996'],
  ['Road Relay', '2:11:41', 'PR of China', '', 'CHN', '1998'],
  ['4x200 Metres Relay', '1:27.46', 'United States Blue', '', 'USA', '2000'],
  ['100 Kilometres', '6:33:11Mx', 'Tomoe ABE', '13 AUG 1971', 'JPN', '2000'],
  ['20,000 Metres',
   '1:05:26.6h#',
   'Tegla LOROUPE',
   '09 MAY 1973',
   'KEN',
   '2000'],
  ['20,000 Metres Race Walk',
   '1:26:52.3h',
   'Olimpiada IVANOVA',
   '29 AUG 1970',
   'RUS',
   '2001'],
  ['25,000 Metres',
   '1:27:05.9h#',
   'Tegla LOROUPE',
   '09 MAY 1973',
   'KEN',
   '2002'],
  ['10 Kilometres',
   '30:29Wo',
   'Asmae LEGHZAOUI',
   '30 AUG 1976',
   'MAR',
   '2002'],
  ['30,000 Metres',
   '1:45:50.0h#',
   'Tegla LOROUPE',
   '09 MAY 1973',
   'KEN',
   '2003'],
  ['Decathlon', '8358', 'Austra SKUJYTÉ', '12 AUG 1979', 'LTU', '2005'],
  ['Javelin Throw',
   '72.28',
   'Barbora ŠPOTÁKOVÁ',
   '30 JUN 1981',
   'CZE',
   '2008'],
  ['Pole Vault', '5.06', 'Yelena ISINBAYEVA', '03 JUN 1982', 'RUS', '2009'],
  ['4x100 Metres Relay', '40.82', 'United States', '', 'USA', '2012'],
  ['20 Kilometres Race Walk',
   '1:24:38',
   'Hong LIU',
   '12 MAY 1987',
   'CHN',
   '2015'],
  ['1500 Metres', '3:50.07', 'Genzebe DIBABA', '08 FEB 1991', 'ETH', '2015'],
  ['Distance Medley Relay', '10:36.50', 'United States', '', 'USA', '2015'],
  ['100 Metres Hurdles',
   '12.20',
   'Kendra HARRISON',
   '18 SEP 1992',
   'USA',
   '2016'],
  ['10,000 Metres', '29:17.45', 'Almaz AYANA', '21 NOV 1991', 'ETH', '2016'],
  ['Hammer Throw', '82.98', 'Anita WŁODARCZYK', '08 AUG 1985', 'POL', '2016'],
  ['10 Kilometres',
   '29:43Mx',
   'Joyciline JEPKOSGEI',
   '08 DEC 1993',
   'KEN',
   '2017'],
  ['2000 Metres',
   '5:23.75(i)',
   'Genzebe DIBABA',
   '08 FEB 1991',
   'ETH',
   '2017'],
  ['Marathon',
   '2:17:01Wo',
   'Mary Jepkosgei KEITANY',
   '18 JAN 1982',
   'KEN',
   '2017'],
  ['5 Kilometres',
   '14:48Mx',
   'Caroline Chepkoech KIPKIRUI',
   '26 MAY 1994',
   'KEN',
   '2018'],
  ['3000 Metres Steeplechase',
   '8:44.32',
   'Beatrice CHEPKOECH',
   '06 JUL 1991',
   'KEN',
   '2018'],
  ['50 Kilometres Race Walk',
   '3:59:15',
   'Hong LIU',
   '12 MAY 1987',
   'CHN',
   '2019'],
  ['One Mile', '4:12.33', 'Sifan HASSAN', '01 JAN 1993', 'NED', '2019'],
  ['5 Kilometres', '14:44Wo', 'Sifan HASSAN', '01 JAN 1993', 'NED', '2019'],
  ['400 Metres Hurdles',
   '52.16',
   'Dalilah MUHAMMAD',
   '07 FEB 1990',
   'USA',
   '2019'],
  ['Marathon', '2:14:04Mx', 'Brigid KOSGEI', '20 FEB 1994', 'KEN', '2019'],
  ['Half Marathon',
   '1:05:34Wo',
   'Peres JEPCHIRCHIR',
   '27 SEP 1993',
   'KEN',
   '2020'],
  ['One Hour', '18930', 'Sifan HASSAN', '01 JAN 1993', 'NED', '2020'],
  ['Half Marathon',
   '1:04:31Mx',
   'Ababel YESHANEH',
   '22 JUL 1991',
   'ETH',
   '2020'],
  ['4x1500 Metres Relay',
   '16:27.02',
   'Nike/Bowerman Track Club',
   '',
   'USA',
   '2020'],
  ['5000 Metres',
   '14:06.62',
   'Letesenbet GIDEY',
   '20 MAR 1998',
   'ETH',
   '2020'],
  ['Half Marathon',
   '1:05:16Wo*',
   'Peres JEPCHIRCHIR',
   '27 SEP 1993',
   'KEN',
   '2020']]}