In [15]:
import requests
import pandas as pd
import csv
from bs4 import BeautifulSoup as bs

In [16]:
url='https://www.worldathletics.org/records/by-category/world-records'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
soup = bs(page.content)

In [17]:
tables_out= soup.find("div", {"id": "womenoutdoor"})
tables_in= soup.find("div", {"id": "womenindoor"})

tableheader_out= tables_out.find_all('th')
tableheader_in= tables_in.find_all('tr')

table= soup.find_all('th')

print(table)

[<th>
                    Discipline
                </th>, <th>
                    Progression
                </th>, <th>
                    Perf
                </th>, <th>
                        Wind
                    </th>, <th>
                    Competitor
                </th>, <th>
                    DOB
                </th>, <th>
                    Country
                </th>, <th>
                    Venue
                </th>, <th>
                    Date
                </th>, <th>
                    Discipline
                </th>, <th>
                    Progression
                </th>, <th>
                    Perf
                </th>, <th>
                        Wind
                    </th>, <th>
                    Competitor
                </th>, <th>
                    DOB
                </th>, <th>
                    Country
                </th>, <th>
                    Venue
                </th>, <th>
                    Date
                </th>, <th>
                    Discipline
                </th>, <th>
                    Progression
                </th>, <th>
                    Perf
                </th>, <th>
                        Wind
                    </th>, <th>
                    Competitor
                </th>, <th>
                    DOB
                </th>, <th>
                    Country
                </th>, <th>
                    Venue
                </th>, <th>
                    Date
                </th>, <th>
                    Discipline
                </th>, <th>
                    Progression
                </th>, <th>
                    Perf
                </th>, <th>
                        Wind
                    </th>, <th>
                    Competitor
                </th>, <th>
                    DOB
                </th>, <th>
                    Country
                </th>, <th>
                    Venue
                </th>, <th>
                    Date
                </th>, <th>
                    Discipline
                </th>, <th>
                    Progression
                </th>, <th>
                    Perf
                </th>, <th>
                        Wind
                    </th>, <th>
                    Competitor
                </th>, <th>
                    DOB
                </th>, <th>
                    Country
                </th>, <th>
                    Venue
                </th>, <th>
                    Date
                </th>]

In [18]:
for tr in tables_out.find_all('tr'):
    data=[]
    
    for th in tr.find_all('th'):
        print(th.text)
    #     data.append(th.text)
    
    # if(data):
    #     print("headers: {}".format(','.join(data)))
    #     csv_writer.writerow(data)
    #     continue

                    Discipline


                    Progression


                    Perf


                        Wind


                    Competitor


                    DOB


                    Country


                    Venue


                    Date

In [19]:
 
for td in tables_out.find_all('td', {'data-th':"DISCIPLINE"}):
    print(td.text)
    # data.append(td.text)
    
    # if(data):
    #     print("DISCIPLINE: {}".format(','.join(data)))
    #     csv_writer.writerow(data)
    #     continue

100 Metres


200 Metres


400 Metres


800 Metres


1000 Metres


1500 Metres


One Mile


2000 Metres


3000 Metres


5000 Metres


5 Kilometres


5 Kilometres


10,000 Metres


10 Kilometres


10 Kilometres


20,000 Metres


One Hour


Half Marathon


Half Marathon


Half Marathon


25,000 Metres


30,000 Metres


Marathon


Marathon


100 Kilometres


3000 Metres Steeplechase


100 Metres Hurdles


400 Metres Hurdles


High Jump


Pole Vault


Long Jump


Triple Jump


Shot Put


Discus Throw


Hammer Throw


Javelin Throw


Heptathlon


Decathlon


10,000 Metres Race Walk


20,000 Metres Race Walk


20 Kilometres Race Walk


50 Kilometres Race Walk


4x100 Metres Relay


4x200 Metres Relay


4x400 Metres Relay


4x800 Metres Relay


4x1500 Metres Relay


Road Relay


Distance Medley Relay

In [20]:
for td in tables_out.find_all('td', {'data-th':"PERF"}):
    print(td.text)

    # data.append(td.text.strip())
    
    # if(data):
    #     print("PERF: {}".format(','.join(data)))
    #     csv_writer.writerow(data)
    #     continue

                        10.49





                        21.34





                        47.60





                        1:53.28





                        2:28.98





                        3:50.07





                        4:12.33





                        5:23.75   (i)





                        8:06.11





                        14:06.62





                        14:48  Mx





                        14:44 Wo





                        29:17.45





                        30:29 Wo





                        29:43  Mx





                        1:05:26.6h #





                        18930





                        1:05:34 Wo





                        1:05:16 Wo  *





                        1:04:31  Mx





                        1:27:05.9h #





                        1:45:50.0h #





                        2:17:01 Wo





                        2:14:04  Mx





                        6:33:11  Mx





                        8:44.32





                        12.20





                        52.16





                        2.09





                        5.06





                        7.52





                        15.50





                        22.63





                        76.80





                        82.98





                        72.28





                        7291





                        8358





                        41:56.23





                        1:26:52.3h





                        1:24:38





                        3:59:15





                        40.82





                        1:27.46





                        3:15.17





                        7:50.17





                        16:27.02





                        2:11:41





                        10:36.50

In [21]:

for td in tables_out.find_all('td', {'data-th':"WIND"}):
    print(td.text)

                            0.0


                            +1.3


















































                            +0.3








                            +1.4


                            +0.9

In [22]:
for td in tables_out.find_all('td', {'data-th':"COMPETITOR"}):
    print(td.text)

Florence GRIFFITH-JOYNER


Florence GRIFFITH-JOYNER


Marita KOCH


Jarmila KRATOCHVÍLOVÁ


Svetlana MASTERKOVA


Genzebe DIBABA


Sifan HASSAN


Genzebe DIBABA


Junxia WANG


Letesenbet GIDEY


Caroline Chepkoech KIPKIRUI


Sifan HASSAN


Almaz AYANA


Asmae LEGHZAOUI


Joyciline JEPKOSGEI


Tegla LOROUPE


Sifan HASSAN


Peres JEPCHIRCHIR


Peres JEPCHIRCHIR


Ababel YESHANEH


Tegla LOROUPE


Tegla LOROUPE


Mary Jepkosgei KEITANY


Brigid KOSGEI


Tomoe ABE


Beatrice CHEPKOECH


Kendra HARRISON


Dalilah MUHAMMAD


Stefka KOSTADINOVA


Yelena ISINBAYEVA


Galina CHISTYAKOVA


Inessa KRAVETS


Natalia LISOVSKAYA


Gabriele REINSCH


Anita WŁODARCZYK


Barbora ŠPOTÁKOVÁ


Jackie JOYNER-KERSEE


Austra SKUJYTÉ


Nadezhda RYASHKINA


Olimpiada IVANOVA


Hong LIU


Hong LIU


United States


United States Blue


Soviet Union


Soviet Union


Nike/Bowerman Track Club


PR of China


United States

In [23]:

for td in tables_out.find_all('td', {'data-th':"DOB"}):
    print(td.text)

                        21 DEC 1959


                        21 DEC 1959


                        18 FEB 1957


                        26 JAN 1951


                        17 JAN 1968


                        08 FEB 1991


                        01 JAN 1993


                        08 FEB 1991


                        09 JAN 1973


                        20 MAR 1998


                        26 MAY 1994


                        01 JAN 1993


                        21 NOV 1991


                        30 AUG 1976


                        08 DEC 1993


                        09 MAY 1973


                        01 JAN 1993


                        27 SEP 1993


                        27 SEP 1993


                        22 JUL 1991


                        09 MAY 1973


                        09 MAY 1973


                        18 JAN 1982


                        20 FEB 1994


                        13 AUG 1971


                        06 JUL 1991


                        18 SEP 1992


                        07 FEB 1990


                        25 MAR 1965


                        03 JUN 1982


                        26 JUL 1962


                        05 OCT 1966


                        16 JUL 1962


                        23 SEP 1963


                        08 AUG 1985


                        30 JUN 1981


                        03 MAR 1962


                        12 AUG 1979


                        22 JAN 1967


                        29 AUG 1970


                        12 MAY 1987


                        12 MAY 1987

In [24]:
for td in tables_out.find_all('td', {'data-th':"COUNTRY"}):
    print(td.text)

                        USA



                        USA



                        GDR



                        TCH



                        RUS



                        ETH



                        NED



                        ETH



                        CHN



                        ETH



                        KEN



                        NED



                        ETH



                        MAR



                        KEN



                        KEN



                        NED



                        KEN



                        KEN



                        ETH



                        KEN



                        KEN



                        KEN



                        KEN



                        JPN



                        KEN



                        USA



                        USA



                        BUL



                        RUS



                        URS



                        UKR



                        URS



                        GDR



                        POL



                        CZE



                        USA



                        LTU



                        URS



                        RUS



                        CHN



                        CHN



                        USA



                        USA



                        URS



                        URS



                        USA



                        CHN



                        USA

In [25]:
for td in tables_out.find_all('td', {'data-th':"VENUE"}):
  print(td.text)

                        Indianapolis, IN (USA)


                        Olympic Stadium, Jamsil, Seoul (KOR)


                        Bruce Stadium, Canberra (AUS)


                        München (GER)


                        Bruxelles (BEL)


                        Stade Louis II, Monaco (MON)


                        Stade Louis II, Monaco (MON)


                        Sabadell (ESP)


                        Beijing (CHN)


                        Estadio de Atletismo del Turia, Valencia (ESP)


                        Praha (CZE)


                        Monaco (MON)


                        Estádio Olímpico, Rio de Janeiro (BRA)


                        New York, NY (USA)


                        Praha (CZE)


                        Borgholzhausen (GER)


                        Boudewijnstadion, Bruxelles (BEL)


                        Praha (CZE)


                        Gdynia (POL)


                        Ras Al Khaimah (UAE)


                        Mengerskirchen (GER)


                        Warstein (GER)


                        London (GBR)


                        Chicago, IL (USA)


                        Lake Saroma (JPN)


                        Stade Louis II, Monaco (MON)


                        Olympic Stadium, London (GBR)


                        Khalifa International Stadium, Doha (QAT)


                        Stadio Olimpico, Roma (ITA)


                        Letzigrund, Zürich (SUI)


                        Leningrad (URS)


                        Ullevi Stadium, Göteborg (SWE)


                        Moskva (URS)


                        Neubrandenburg (GDR)


                        Stadion PGE Narodowy, Warszawa (POL)


                        Gottlieb-Daimler Stadion, Stuttgart (GER)


                        Olympic Stadium, Jamsil, Seoul (KOR)


                        Columbia, MO (USA)


                        Seattle, WA (USA)


                        Brisbane (AUS)


                        La Coruña (ESP)


                        Huangshan (CHN)


                        Olympic Stadium, London (GBR)


                        Philadelphia, PA (USA)


                        Olympic Stadium, Jamsil, Seoul (KOR)


                        Moskva (URS)


                        Jesuit High School Track, Portland, OR (USA)


                        Beijing (CHN)


                        T. Robinson Stadium, Nassau (BAH)

In [26]:
for td in tables_out.find_all('td', {'data-th':"DATE"}):
    print(td.text)

                        16 JUL 1988


                        29 SEP 1988


                        06 OCT 1985


                        26 JUL 1983


                        23 AUG 1996


                        17 JUL 2015


                        12 JUL 2019


                        07 FEB 2017


                        13 SEP 1993


                        07 OCT 2020


                        08 SEP 2018


                        17 FEB 2019


                        12 AUG 2016


                        08 JUN 2002


                        09 SEP 2017


                        03 SEP 2000


                        04 SEP 2020


                        05 SEP 2020


                        17 OCT 2020


                        21 FEB 2020


                        21 SEP 2002


                        06 JUN 2003


                        23 APR 2017


                        13 OCT 2019


                        25 JUN 2000


                        20 JUL 2018


                        22 JUL 2016


                        04 OCT 2019


                        30 AUG 1987


                        28 AUG 2009


                        11 JUN 1988


                        10 AUG 1995


                        07 JUN 1987


                        09 JUL 1988


                        28 AUG 2016


                        13 SEP 2008


                        24 SEP 1988


                        15 APR 2005


                        24 JUL 1990


                        06 SEP 2001


                        06 JUN 2015


                        09 MAR 2019


                        10 AUG 2012


                        29 APR 2000


                        01 OCT 1988


                        05 AUG 1984


                        31 JUL 2020


                        28 FEB 1998


                        02 MAY 2015