In [1]:
#Import dependencies
import pandas as pd
import csv

In [2]:
# Getting data: 100 Women of 2020 
# source: https://github.com/rfordatascience/tidytuesday/blob/master/data/2020/2020-12-08/readme.md
file_path = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-12-08/women.csv"
women2020 = pd.read_csv(file_path)
print(women2020.shape)

(100, 6)

In [3]:
# Showing data 
women2020.head()

,name,img,category,country,role,description
0,Unsung hero,https://ichef.bbci.co.uk/news/300/cpsprodpb/F2...,All,Worldwide,Making a difference,"In an extraordinary year, when countless women..."
1,Loza Abera Geinore,https://ichef.bbci.co.uk/news/300/cpsprodpb/15...,Leadership,Ethiopia,Footballer,Loza Abera Geinore was born and raised in a sm...
2,Houda Abouz,https://ichef.bbci.co.uk/news/300/cpsprodpb/14...,Creativity,Morocco,Rapper,"Houda Abouz, aka Khtek, is a Moroccan rapper k..."
3,Christina Adane,https://ichef.bbci.co.uk/news/300/cpsprodpb/4A...,Leadership,Netherlands,Campaigner,Christina was behind the UK petition for free ...
4,Yvonne Aki-Sawyerr,https://ichef.bbci.co.uk/news/300/cpsprodpb/13...,Leadership,Sierra Leone,Mayor,Mayor Yvonne Aki-Sawyerr OBE is best known for...

In [4]:
women2020.country[50] = 'UK'
women2020.country[72] = "India"

In [5]:
# Saving data as csv file 
women2020.to_csv('women2020.csv',index = False)

In [6]:
# Merging latitudes and longitudes 
# File definition
lat_long_file = 'lat_lon.csv'

In [7]:
# Reading CSV latitudes and longitudes
lat_long = pd.read_csv(lat_long_file)
lat_long.head()

        country   Latitude  Longitude
0     Worldwide  40.042140 -76.388809
1      Ethiopia   9.145000  40.489673
2       Morocco  31.791702  -7.092620
3   Netherlands  52.132633   5.291266
4  Sierra Leone   8.460555 -11.779889

In [8]:
# Join DataFrames in the country column 
Final_data = pd.merge(women2020, lat_long, on='country', how='left')
Final_data = Final_data.drop_duplicates(subset=['name'])
print(Final_data.shape)

(100, 8)

In [9]:
Final_data.head()

,name,img,category,country,role,description,Latitude,Longitude
0,Unsung hero,https://ichef.bbci.co.uk/news/300/cpsprodpb/F2...,All,Worldwide,Making a difference,"In an extraordinary year, when countless women...",40.042140,-76.388809
1,Loza Abera Geinore,https://ichef.bbci.co.uk/news/300/cpsprodpb/15...,Leadership,Ethiopia,Footballer,Loza Abera Geinore was born and raised in a sm...,9.145000,40.489673
2,Houda Abouz,https://ichef.bbci.co.uk/news/300/cpsprodpb/14...,Creativity,Morocco,Rapper,"Houda Abouz, aka Khtek, is a Moroccan rapper k...",31.791702,-7.092620
3,Christina Adane,https://ichef.bbci.co.uk/news/300/cpsprodpb/4A...,Leadership,Netherlands,Campaigner,Christina was behind the UK petition for free ...,52.132633,5.291266
4,Yvonne Aki-Sawyerr,https://ichef.bbci.co.uk/news/300/cpsprodpb/13...,Leadership,Sierra Leone,Mayor,Mayor Yvonne Aki-Sawyerr OBE is best known for...,8.460555,-11.779889

In [10]:
Final_data.to_csv('complete_data.csv',index = False)